{
  "presets": [
    [
      "@babel/preset-env",
      {"useBuiltIns": "entry"}
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {
      "filetypes": {
        ".sass": {
          "syntax": "postcss-sass"
        }
      }
    }]
  ]
}
